 * {
    margin: 0;
    border: 0;
    padding: 0;
 }
 #topo {
    position: relative;
    background-color: aquamarine;
    width: 100%;
    height: 200px;
    text-align: center;
    font-size: 60px;
 }

 #le {
    position: relative;
    background-color: rgb(78, 91, 135);
    width: 100%;
    height: 500px;
    float: left;
 }

 #conteudo {
    position: absolute;
    background-color: gray;
    width: 1200px;
    height: 500px;
    top: auto;
    left: 120px;
 }

 #branco1 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    top: 0px;
    right: 10px;
 }

 #branco2 {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: white;
    top: 210px;
    right: 10px;
 }

 img {
    position: absolute;
    top: 525px;
    right:180px;
 }

 #rodape {
    position: relative;
    width: 100%;
    height: 75px;
    background-color: rgb(54, 141, 246);
    clear: left;
 }
