* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.fundo {
	width: 1230px;
	margin: 0 auto;
	position: relative;
}

#header1,
.rodape {
	background: #000;
	color: #fff;
	text-align: center;
	font-size: 48px;
	line-height: 1;
	padding: 26px 0;
	position: relative;
}

#nav1 {
	background: #08089d;
	color: #fff;
	font-size: 46px;
	line-height: 1;
	padding: 6px 0 2px;
	position: relative;
}

.conteudo {
	display: flex;
	position: relative;
	min-height: 560px;
}

#nav2 {
	width: 245px;
	background: #bebd9d;
	color: #fff;
	font-size: 48px;
	text-align: center;
	padding-top: 4px;
	position: relative;
}

#section {
	width: 739px;
	background: #e0b6e4;
	padding: 0 18px 10px;
	position: relative;
    text-align: center;
    color: white;
}

#header2 {
	background: #ececec;
	color: #000;
	font-size: 38px;
	text-align: center;
	line-height: 1;
	padding: 8px 0;
	margin-bottom: 10px;
	position: relative;
}

#div1 {
	background: #9e6b00;
	color: #fff;
	font-size: 52px;
	text-align: center;
	line-height: 1;
	padding: 4px 0 132px;
	margin-bottom: 10px;
	position: relative;
}

p {
	background: #b4b4dd;
	color: #000;
	height: 100px;
	font-size: 30px;
	padding: 2px 0 0 0;
	margin-bottom: 10px;
	position: relative;
}

#div2 {
	display: flex;
	gap: 17px;
	position: relative;
}

.div3 {
	flex: 1;
	background: #6f6f6f;
	color: #fff;
	text-align: center;
	font-size: 52px;
	line-height: 1;
	padding: 6px 0 72px;
	position: relative;
}

#aside {
	width: 246px;
	background: linear-gradient(#ec00e9, #f000ff);
	color: #fff;
	font-size: 52px;
	text-align: center;
	line-height: 1;
	padding-top: 6px;
	position: relative;
}
